@page
@model Backend.Pages.AccessDeniedModel
@{
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">Access Denied</h1>
        <p>You do not have permission to access this page.</p>
    </div>

    <div class="col-12">
        <p>
            Log in as a user with the appropriate permissions or contact your system administrator.
        </p>
        <form method="post">
            <input type="submit" class="btn btn-primary" value="Logout"/>
        </form>
    </div>
</div>