@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bella Croissant</h1>
    <p>
        This is a webshop. This is a solution.
    </p>
</div>
