@page
@model Backend.Pages.RegisterModel
@{
}

<div class="row mt-4">
    <div class="col-md-6 d-none d-md-flex align-content-center justify-content-center">
        <img src="~/images/bread-normal.png" class="login-image img-fluid" />
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="card">
            <h5 class="card-header">
                Register
            </h5>
            <div class="card-body">
                <form method="post">
                    <input asp-for="RedirectTo" value="@Model.RedirectTo" type="hidden" />
                    <div class="form-floating my-2">
                        <input asp-for="EmailAddress" class="form-control" placeholder="address@example.com" />
                        <label asp-for="EmailAddress" class="form-label">E-mail</label>
                        <span class="form-text text-danger" asp-validation-for="EmailAddress">

                        </span>
                    </div>
                    <div class="form-floating my-2">
                        <input asp-for="Password" class="form-control" placeholder="*******" />
                        <label asp-for="Password" class="form-label">Password</label>
                        <span class="form-text text-danger" asp-validation-for="Password">

                        </span>
                    </div>
                    <div class="form-floating my-2">
                        <input asp-for="PasswordAgain" class="form-control" placeholder="*******" />
                        <label asp-for="PasswordAgain" class="form-label>">Password Again</label>
                        <span class="form-text text-danger" asp-validation-for="PasswordAgain">

                        </span>
                    </div>
                    <div class="my-2 d-flex justify-content-between">
                        <a asp-page="/Login"
                           asp-route-redirect-to="@Model.RedirectTo"
                           class="btn btn-secondary">
                            Login instead
                        </a>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>