@using Backend.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bella Croissant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Backend.styles.css" asp-append-version="true" />
</head>
<body data-bs-theme="light" class="d-flex min-vh-100 flex-column m-0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/Logo.png" class="img-fluid" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (User.IsLoggedIn())
                        {
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                            </li>                            
                        }

                        @if (User.HasRole(Enums.UserRole.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Users/Index">Users</a>
                            </li>
                        }
                        @if (User.HasRole(Enums.UserRole.Admin, Enums.UserRole.DigitalSales))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Orders/Pending/Index">Pending Orders</a>
                            </li>
                        }
                        @if (User.HasRole(Enums.UserRole.Admin, Enums.UserRole.Baker))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/BakerPage/Index">Baker Page</a>
                            </li>
                        }
                        @if (User.HasRole(Enums.UserRole.Admin, Enums.UserRole.Chef))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Products">Baker Page</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        @if (!User.IsLoggedIn() || User.HasRole(Enums.UserRole.WebshopUser))
                        {
                            <li class="ms-sm-auto nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Cart/Index">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                                    </svg>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow-1">
        @RenderBody()
    </div>

    <footer class="border-top footer position-relative text-muted">
        <div class="container">
            &copy; 2024 - Bella Croissant - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (Model is BasePageModel bpm)
    {
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            @if (bpm.ErrorMessage is not null)
            {
                <div id="errorToast" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Error</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        @bpm.ErrorMessage
                    </div>
                </div>
            }

            @if (bpm.SuccessMessage is not null)
            {
                <div id="successToast" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Success</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        @bpm.SuccessMessage
                    </div>
                </div>
            }
        </div>

        <script>
            const errorToast = document.getElementById('errorToast');
            const successToast = document.getElementById('successToast');

            if (errorToast) {
                const toast = new bootstrap.Toast(errorToast);
                toast.show();

            }

            if (successToast) {
                const toast = new bootstrap.Toast(successToast);
                toast.show();
            }

            const url = new URL(window.location.href);
            url.searchParams.delete("errorMessage");
            url.searchParams.delete("ErrorMessage");
            url.searchParams.delete("successMessage");
            url.searchParams.delete("SuccessMessage");

            window.history.pushState(null, '', url.toString());
        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>