@page
@model Backend.Pages.Ingredients.CreateModel

@{
    ViewData["Title"] = "Alapanyag létrehozása";
}

<div class="row">
    <div class="col-12 col-md-6">
        <h1>Új alapanyag felvétele</h1>
    </div>
</div>

<hr />
<form method="post" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-12">
        <label asp-for="IngredientEntity.Name" class="control-label"></label>
        <input asp-for="IngredientEntity.Name" class="form-control" />
        <span asp-validation-for="IngredientEntity.Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="IngredientEntity.Stock" class="control-label"></label>
        <input asp-for="IngredientEntity.Stock" class="form-control" />
        <span asp-validation-for="IngredientEntity.Stock" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="IngredientEntity.MaxStock" class="control-label"></label>
        <input asp-for="IngredientEntity.MaxStock" class="form-control" />
        <span asp-validation-for="IngredientEntity.MaxStock" class="text-danger"></span>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-primary ms-auto d-block">Mentés</button>
    </div>

    <div class="col-6">
        <a asp-page="./Index" role="button" class="btn btn-outline-secondary">Mégsem</a>
    </div>
</form>