@page
@model Backend.Pages.Ingredients.EditModel

@{
    ViewData["Title"] = Model.IngredientEntity.Name + " edit";
}

<div class="row align-items-center">
    <div class="col-12 col-md-6">
        <h1>Edit ingredient</h1>
    </div>
    <div class="col-12 col-md">
        <h2>@Model.IngredientEntity.Name</h2>
    </div>
</div>

<hr />

<form method="post" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IngredientEntity.Id" />
    <div class="col-md-12">
        <label asp-for="IngredientEntity.Name" class="control-label"></label>
        <input asp-for="IngredientEntity.Name" class="form-control" />
        <span asp-validation-for="IngredientEntity.Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="IngredientEntity.Stock" class="control-label"></label>
        <input asp-for="IngredientEntity.Stock" class="form-control" />
        <span asp-validation-for="IngredientEntity.Stock" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="IngredientEntity.MaxStock" class="control-label"></label>
        <input asp-for="IngredientEntity.MaxStock" class="form-control" />
        <span asp-validation-for="IngredientEntity.MaxStock" class="text-danger"></span>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-primary ms-auto d-block">Save</button>
    </div>

    <div class="col-6">
        <a asp-page="./Index" role="button" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>