@page
@using Backend.Enums
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserEntity.Id" />
            <div class="form-group">
                <label asp-for="UserEntity.EmailAddress" class="control-label"></label>
                <input asp-for="UserEntity.EmailAddress" class="form-control" />
                <span asp-validation-for="UserEntity.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEntity.Role" class="control-label"></label>
                @Html.DropDownListFor(_ => _.UserEntity.Role, Html.GetEnumSelectList<UserRole>(), null, new { @class = "form-control" })
                <span asp-validation-for="UserEntity.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
